[color]
	ui = auto
[core]
	editor = vim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	lg = log --oneline --graph --decorate --all
	undo = reset HEAD~1 --mixed
