[color]
	ui = auto
[core]
	editor = nvim
	autocrlf = input
	whitespace = fix
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[diff]
	external = difft
[gpg]
	format = openpgp
[commit]
	gpgsign = true
[rerere]
	enabled = true
[help]
	autocorrect = prompt
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	lg = log --oneline --graph --decorate --all
	undo = reset HEAD~1 --mixed
	sw = switch
	rs = restore
	swish = !sh -c 'git fetch $1 $2 && git switch $2' -
	wip = commit -am "wip"
	aliases = config --get-regexp alias
[include]
	path = ~/.gitconfig.local
